<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>User page</title>
</head>
<body>

<div>
    <!--Hat of site-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#ffbbbb">
        <div class="container-fluid">
                        <span style="font-size: large; ">
                            <div class="activeUser"></div>
                        </span>
            <span style="font-size: large; ">
                            <a href="/logout">Logout</a>
                        </span>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <p class="nav-link active" href="#user">User</p>
                </li>
            </ul>
        </div>


        <div class="col-10" style="background-color:#f5f4f4">
            <div class="container overflow-hidden">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="user">
                        <b><span style="font-size: xx-large; ">User information-page</span></b>
                        <p></p>

                        <caption>
                            <div class="container overflow-hidden">
                                <b><span style="font-size: x-large; ">About user</span></b>
                            </div>
                        </caption>
                        <hr/>

                        <table class="table table-bordered table-striped caption-top">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Username</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                                <th scope="col">Age</th>
                                <th scope="col">List Roles</th>
                            </tr>
                            </thead>

                            <tbody class="user-page">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script src="../../js/user.js"></script>
</body>
</html>